
/* 320px */

body
{
    box-sizing: border-box;
    background-image: url("../img/nightsky.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 80% 0%;
    background-size: cover;
    padding: 0 !important;
    margin: 0 !important;
    width: 100vw;
}
.heading
{
    width: 100vw;
    height: 50vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

h1, h3
{
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    padding: .5em 0 1.25em 1em;
    text-align: left;
    text-transform: uppercase;
}
h1
{
    z-index: 1;
    position: fixed;
    top: 0;
    height: 2.3em;
    margin-top: 0 !important;
    text-align: left;
    font-weight: 600 !important;
    font-size: 50px !important;
    background-color: #111;
}

h3
{
    z-index: 0;
    position: absolute;
    height: 10em !important;
    margin-top: 10em !important;
    margin-left: .75em !important;
    font-size: 2em !important;
    font-family: Palatino;
    color: #999;
}
.browseDiv 
{
    display: none;
}
h2
{
    padding-left: 1.7em;
}
.flex 
{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.videoBody
{
        
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: fit-content;
    width: 100%;
    margin: 18em 0;
    padding: 0 0 10em 0;
    background-color: #111;
}
.categories
{
    width: 100%;
    margin: 1em 0 0;
    font-size: 2em;
    font-weight: 500;
    color: #888;
}

#popout
{
    z-index: 3;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .8);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.exit-popout
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 28px;
    right: 28px;
    height: 80px;
    width: 80px;
    background-color: rgb(60, 60, 60);
    color: #fff;
    cursor: pointer;
}
.exit-popout span {
    height: 4px;
    display: block;
    background: #fff;
    margin: 6px 0;
    transition: 0.5s;
    position: absolute;
    width: calc(100% - 16px);
    top: calc(50% - 8px);
}
.exit-popout span:nth-child(1) {
    transform: rotate(45deg);
}
.exit-popout span:nth-child(3) {
    transform: rotate(-45deg);
}

.exit-popout span:nth-child(2) {
    display: none;
}

.video
{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}
.carousel
{
    height: 200px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.previousButton, .nextButton
{
    position: absolute;
    z-index: 5;
    top: 25px;
    height: 0;
    width: 0;
    margin-top: 0 !important; 
    border-top: 5em solid transparent;
    border-bottom: 5em solid transparent;
}
.previousButton
{
    margin-left: 2em;
    left: 0;
    border-right: 4em solid rgba(255, 255, 255, .7);
}
.previousButton:hover
{
    border-right: 4em solid rgba(255, 255, 255, 1);
}
.nextButton
{
    margin-right: 2em;
    right: 0;
    border-left: 4em solid rgba(245, 255, 255, .7);
}
.nextButton:hover
{
    border-left: 4em solid rgba(255, 255, 255, 1);
}

/*  */

.menu-icon, .sidebar 
{
    z-index: 3;
}
.menu-icon
{
    top: 2.5em;
    right: 2.5em;
    width: 6.25em;
    height: 5.5em;
    background-color: #444;
}
.menu-icon span {
    height: .5em;
    margin: 1em 0;
}
.sidebar {
    left: -40em;
    width: 40em;
    padding: 2.5em;
}
.sidebar.active
{
    background-color: #555;
}
.sidebar .menu {
    padding: 5em 0;
}
.sidebar .menu li a {
    padding: 1em 0;
    font-size: 3em;
}
.menu-icon.active span {
    width: calc(100% - 1em);
    top: calc(50% - 1em);
}
.social-icon {
    bottom: 5em;
    width: 0 2.5em;
}
.social-icon li a {
    font-size: 4em;
    width: 2em;
    height: 2em;
    line-height: 2.25em;
}
.logo2 
{
    width: 12.5em;
    height: 12.5em;
}






/* Desktop 1080px: */
@media only screen  and (min-width : 1080px) 
{
    body
    {
        max-width: 90%;
        background-position: 25% 13%;

    }
    .heading
    {
        margin: 100px 0 0;
        padding: 0;
    }
    
    h1
    {
        position: absolute;
        padding: 11px 0 20px 0;
        margin: 200px auto !important;
        height: 1.5em;
        background-color: transparent;
        text-align: center;
    }

    .h1-bgcolor
    {
        position: fixed;
        margin-top: 0 !important;
        top: 0;
    }

    h3
    {
        height: 240px;
        margin: 300px 0 !important;
        padding: 50px 0 20px !important;
        font-style: italic;
        font-size: 1.25em !important;
        text-align: center;
    }

    h2
    {
        position: relative;
        margin: 20px 0 0 140px !important;
    }

    .menu-icon {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 66px !important;
        height: 52px !important;
        padding: 4px 8px;
        background: #555;
        cursor: pointer;
    }
    
    .menu-icon span {
        width: 100%;
        height: 4px;
        display: block;
        background: #fff;
        margin: 6px 0;
        transition: 0.5s;
    }
      
    .sidebar {
        left: -18.75em;
        width: 18.75em;
        padding: 1.25em;
    }
    .sidebar .menu {
        padding: 2.5em 0;
    }
    .sidebar .menu li a {
        padding: .625em 0;
        font-size: 1.125em;
    }
    .menu-icon.active span {
        width: calc(100% - 1em);
        top: calc(50% - .5em);
    }
    .social-icon {
        bottom: 2.5em;
        width: 0 1.25em;
    }
    .social-icon li a {
        font-size: 1.125em;
        width: 2.5em;
        height: 2.5em;
        line-height: 2.5em;
    }
    .logo2 {
        width: 6.25em;
        height: 6.25em;
    }
    .flex 
    {
        display: flex;
        flex-flow: row wrap;
    }
    .videoBody
    {
        align-items: start;
        justify-content: start;
        margin: 300px 0 0;
        padding-top: 3em !important;
    }
    .categories
    {
        font-size: 2em;
        margin: 2em .5em 1em;
    }
    
    .video
    {
        width: auto;
        margin: 0 auto;
        padding: 0;
    }
    .video:hover
    {
        cursor: pointer;
        height: 200px;
    }
    .carousel
    {
        height: 200px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
        
    .previousButton, .nextButton
    {
        margin-top: 1.25em !important; 
        border-top: 3.75em solid transparent;
        border-bottom: 3.75em solid transparent;
    }
    .previousButton
    {
        border-right: 3.75em solid rgba(255, 255, 255, .7);
    }
    .previousButton:hover
    {
        cursor: pointer;
        border-right: 3.8em solid rgba(255, 255, 255, 1);
    }
    .nextButton
    {
        border-left: 3.75em solid rgba(255, 255, 255, .7);
    }
    .nextButton:hover
    {
        cursor: pointer;
        border-left: 3.8em solid rgba(255, 255, 255, 1);
    }


}
    


/* Large screens */
@media only screen  and (min-width : 1920px) 
{
    /* .videoBody
    {
        margin: 400px auto;

    } */

}

/* Use orientation to remove fixed pos reel from landscape mode phones; when category is clicked, just navigate up to #filmReel */


/* @ 600px:
    video .gutter width: 50%;
    h3 font smaller;
    .gutter p font larger;
 */

/* @ 750px:
    video .gutter width: 33%?;
    nav + top - make smaller
    side menu smaller
*/

/* On Tablet aspect ratio:
    check side menu sizing after previous media queries
*/

/* 
    adjust for landscape
*/
